        html,
        body {
            height: 100%;
        }
        
        .countdown-container {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            max-width: 540px;
            /**/
        }
        
        .clock-item .inner {
            height: 0px;
            padding-bottom: 100%;
            position: relative;
            max-width: 100%;
            /**/
            border: solid 1px;
            border-radius: 100px;
            border-color: rgb(105, 105, 105);
        }
        
        .clock-canvas {
            background-color: rgba(181, 185, 189, 0.582);
            border-radius: 100%;
            height: 0px;
            padding-bottom: 100%;
        }
        
        .text {
            color: #fff;
            font-size: 23px;
            font-weight: bold;
            margin-top: -50px;
            position: absolute;
            top: 50%;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
            width: 100%;
        }
        
        .text .val {
            font-size: 42px;
        }
        
        .text .type-time {
            font-size: 20px;
            padding: -5px;
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
            .clock-item {
                margin-bottom: 30px;
            }
        }
        
        @media (max-width: 767px) {
            .clock-item {
                margin: 0px 30px 30px 30px;
            }
        }